@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --branco: white;
    --cor-de-fundo: #19008a;
    --cor-de-senha: #008cff;
    --fundo-texto: #072e31;
    --borda: #008371;
    --fonte: 'Embed code', sans-serif;
}

* {
    font-weight: 500;
}

body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
}

.titulo_principal {
    font-family: var(--fonte);
    font-size: 32px;
}

.titulo_secundario {
    font-size: 24px;
}

.conteudo_titulo {
    text-align: center;
    margin-top: 80px;

}

.cadeado_conteudo {
    width: 100px;
}

.cadeado_conteudo {
    width: 150px
}

.conteudo_senha {
    margin: top 80px;
    background: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px dotted var(--borda);
}

#campo_senha {
    background-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-size: 40px;
    width: 70%;
}

#campo_senha:focus {
    outline: none;
}

.conteudo_senhas {
    max-width: 1200px;
    margin: 0 auto;
}

.parametro {
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
}

.parametro-senha_titulo {
    font-size: 24px;
}

.parametro_coluna_senha {
    display: flex;
    flex-direction: column;
    justify-content: center;
}